#title_help, 
#page_url_help, 
#border_help, 
#width_help,
#height_help,
#color_scheme_help,
#show_faces_help,
#stream_help,
#header_help{
    display: none;
}

.facebook-wrap{
	overflow: hidden;
	width: 100%;
}

.facebook-container{
	overflow: hidden;
}

.facebook-container iframe{
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	margin-top: -2px;
	margin-left: -10px;
}